  README.md
        angular.json
        e2e/
        karma.conf.js
        node_modules/
        package-lock.json
        package.json
        src/app/about/
        src/app/app-routing.module.ts
        src/app/app.component.css
        src/app/app.component.html
        src/app/app.component.spec.ts
        src/app/app.component.ts
        src/app/app.module.ts
        src/app/course/
        src/app/home/
        src/app/joinnow/joinnow.component.css
        src/app/joinnow/joinnow.component.html
        src/app/joinnow/joinnow.component.spec.ts
        src/app/joinnow/joinnow.component.ts
        src/app/joinnow/sign-in/
        src/assets/
        src/environments/
        src/file.txt
        src/main.ts
        src/polyfills.ts
        src/styles.css
        src/test.ts
        tsconfig.app.json
        tsconfig.json
        tsconfig.spec.json
        tslint.json
