<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
        Remaining essentially unchanged.
    </p>
    <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
        Remaining essentially unchanged.

    </p>
    <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting.
        Remaining essentially unchanged.
    </p>
    <div class="follow text-center">
        <h4>Follow us</h4>
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
        <a href="#">Youtube</a>
    </div>
</section>